body {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently */
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#loadingimage {
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
}
.itemname2 {
    text-align: center;
    width: 4.8vw;
    font-size: 1.3vh;
    position: absolute;
    bottom: 5px;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.information {
    position: absolute;
    font-weight: bold;
    bottom: 7px;
    font-size: 1.12vh;
    color: rgba(222, 222, 222, 1);
    text-align: center;
    text-transform: none;
    pointer-events: none;
    top: 10%;
    left: 63%;
    width: 79%;
    display: flex;
    /* justify-content: space-between; */

}

.shopInformation {
    bottom: 17.5%;
}

.infowrap {
    background-color: rgba(22, 22, 22, 0.6);
    width: 100%;
}

.UseBarHead {
    top: 5%;
    left: 5%;
    width: 100%;
    opacity: 0.9;
    color: white;
    font-size: 1.2vh;
    margin-left: 2px;
    position: absolute;
    text-transform: none;
    background-color: #fa070700;
}
.move-form {
    position: absolute;
    top: 25%;
    left: 41%;
    height: 50%;
    width: 18%;
}



.quickbind  {
    margin-left: 5%;
}

#bind1 {
	position: absolute;
	color: #ffffff;
	font-size: 1.5vh;
	left: 0;
	right: 0;
	margin-left: -85%;
	margin-right: auto;
    margin-top: -70%;
	opacity: 1.0;
	font-weight: 800;
    font-style: normal;
    text-align: center;
	pointer-events: none;
}

#bind2 {
	position: absolute;
	color: #ffffff;
	font-size: 1.5vh;
	left: 0;
	right: 0;
	margin-left: -85%;
	margin-right: auto;
    margin-top: -70%;
	opacity: 1.0;
	font-weight: 800;
    font-style: normal;
    text-align: center;
	pointer-events: none;
}

#bind3 {
	position: absolute;
	color: #ffffff;
	font-size: 1.5vh;
	left: 0;
	right: 0;
	margin-left: -85%;
	margin-right: auto;
    margin-top: -70%;
	opacity: 1.0;
	font-weight: 800;
    font-style: normal;
    text-align: center;
	pointer-events: none;
}

#bind4 {
	position: absolute;
	color: #ffffff;
	font-size: 1.5vh;
	left: 0;
	right: 0;
	margin-left: -85%;
	margin-right: auto;
    margin-top: -70%;
	opacity: 1.0;
	font-weight: 800;
    font-style: normal;
    text-align: center;
	pointer-events: none;
}


/* #move-amount:hover {
    background-color: #444555;
} */

h2 {
    margin-top: -8px;
    font-size: 24px;
}

.DispInfo {
    margin: 5px;
    font-weight: 0;
    font-size: 12px;
}

hr {
    opacity: 0.2;
}


div.tooltip {
    background: rgba(34, 35, 51, 0.80);
    border-bottom-left-radius: 0;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    display: none;
}

.item3 {
	display: flex;
	height: 8.5vh;
	width: 5vw;
	position: relative;
	margin-right: 0.5vw;
	align-items: center;
	flex-direction: column-reverse;
	justify-content: space-evenly;
	border-bottom: 2px solid #00f8b9;
	background: rgba(34, 35, 51, 0.80);
}

.item3 > .itemimage {
	margin: 0!important;
	width: 60%;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(220, 220, 220, 0.85);
}

#draggedItem {
    width: 6.9vw;
    height: 12.5vh;
    position: absolute;
    z-index: 80;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    opacity: 0;
    pointer-events: none;
}

#draggedItem > img {
    max-width: 10.8vh;
    max-height: 10.8vh;
}

.item:hover {
    background-color: rgba(55, 55, 55, 0.15);
    /* border: solid rgba(222, 222, 222, 0.25) 1px; */
}

.inventorybg {
    width: 100%;
    height: 100%;
    align-items: center;
    overflow: hidden;
    display: block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: blur(0.8rem);
    opacity: 0.44;
    border: 1px solid rgba(33, 113, 233, 0);
    position: absolute;
    z-index: -1;
    background: #222831;
}

.inventory {
    display: block;
    width: 100%;
    height: 100%;
    align-items: center;
    overflow: hidden;
    z-index: 12211;
    background: rgba(1, 1, 1, 0.5);
    -moz-box-shadow: 0 0 25px 25px rgba(161, 38, 38, 0.6);
    -webkit-box-shadow: 0 0 25px 25px rgba(1, 1, 1, 0.6);
    box-shadow: 0 0 25px 25px rgba(1, 1, 1, 0.6);
}

#app {
    display: none;
    width: 100%;
    height: 100%;
}

.itemname3 {
	font-size: 1vh;
	color: #fff;
	text-align: center;
    /* text-align: center;
    font-size: 9px;
    position: absolute;
    bottom: 8px;
    color: white;
    bottom: 5px;
    width: 4vw;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: none;
    height: 1.5vh; */
}

.itemQuality {
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(to bottom, #217fbd, #1b1844 100%);
    background-size: 1000% 1000%;
    background-color: #f80000;
    background-position: 0% 0%;
    top: 1%;
    pointer-events: none;
    /* border-bottom-left-radius: 0.5vh; */
    height: 0.3vh;
}

.near-full {
    /* border-bottom-right-radius: 0.5vh; */
}

.perfect {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #ffffff00;
    background-size: 100000% 100000%;
    pointer-events: none;
    /* border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; */
    height: 0.5vh;
}

.destroyed::before {
    content: '';
    position: absolute;
    font-size: 12vh;
    left: 0;
    top: -12vh;
    height: 12.5vh;
    margin: 0 auto;
    width: 100%;
    opacity: 0.2;
    overflow: hidden;
    background-color: #632323;
    z-index: 1;
}

.destroyed {
    position: absolute;
    left: 0;
    bottom: 0;
    background: transparent;
    pointer-events: none;
    height: 0.5vh;
}

#UseBar {
    bottom: 17%;
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}

#ActionBar {
    bottom: 5%;
    width: 100vw;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.wrapsecondary {
	flex: auto;
    float: left;
    display: grid;
    margin-top: 1rem;
    grid-row-gap: 1px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    grid-column-gap: 1px;
    grid-template-columns: 20% 20% 20% 20% 20%;

}

.wrapmain::-webkit-scrollbar, .wrapsecondary::-webkit-scrollbar {
    width: 5px;
}

.wrapmain::-webkit-scrollbar-track, .wrapsecondary::-webkit-scrollbar-track {
    background: #1114199f;
}

.wrapmain::-webkit-scrollbar-thumb, .wrapsecondary::-webkit-scrollbar-thumb {
    background-color: #ffffff25;
}


.wrapSecondaryWeight {
    position: absolute;
    left: 59%;
    top: 19.5%;
    font-size: 1.2vh;
    color: white;
    width: 31%;
}

#containers-wrapper {
    display: none;
    align-items: flex-start;
    padding: 10% 5%;
    justify-content: space-between;
}

.move-center:hover {
    background-color: #191e25c0;
}

.move-center:hover .Use {
    opacity: 1;
}

.Use {
    margin: 0 auto;
    width: 50%;
    margin-top: 30px;
    display: block;
    opacity: 0.5;
    transition: all 0.5s ease;
}

.bottom-button:hover {
    background-color: #444555;
}

.invShopMoney::before {
    content: '$';
    color: #95ef77;
}

.invShopMoney {
    /*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
    color: #95ef77;
}

.cashcontainer {
    display: none;
    color: #fff;
    font-size: 1.3vh; 
}

.itemcost {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 2% 1%; 
    background-color: #1114199f;
    font-size: 1.25vh;
    color: #95ef77;
    text-align: center;
    pointer-events: none;
	z-index: 3;
}

img.smaller {
    width: 55%;
}

.requirementSmall {
    font-size: 1.3vh;
}

.move-center {
    background-color: #191e25aa;
    border-radius: 5px;
    margin: 15% auto 0;
    padding: 2vh;
    transition: all 0.5s ease;
    width: 40%;
}

/* #move-amount {
  width: 100%;
  border: transparent;
  padding: 0.40rem 0;
  height: 3.5vh;
  font-size: 1.5vh;
  text-align: center;
  border-radius: 5px;
  background-color: #10a2cf;
  text-transform: none;
  color: rgba(220, 220, 220, 1);
} */

#move-amount {
    width: 60px;
    height: 40px;
    /* background: #9980fa; */
    background: transparent;
    border: 0 transparent;
    position: relative;
    font-size: 0.8em;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    /* -webkit-box-reflect: below 1px linear-gradient(transparent,#0008); */
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;

}


.bottom-buttons {
    bottom: 0;
    display: flex;
    height: 6%;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.bottom-button {
    background: rgba(34, 35, 51, 0.80);
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 2vh;
    font-weight: 700;
    height: 100%;
    text-align: center;
    width: 10%;
}




button {
    background-color: #30475e;
    border: none;
    border-radius: 5px;
    color: rgba(220, 220, 220, 1);
    font-size: 1.4vh;
    height: 4vh;
    text-transform: uppercase;
    width: 25%;
}

button.save-settings {
    background-color: #689f38;
}

button:hover {
    filter: brightness(0.85);
}

button:active {
    filter: brightness(0.5);
}

.Logs {
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    color: #fafafa;
    font-size: 1.3vh;
    font-weight: 0;
    height: 12%;
    max-height: 20%;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    text-decoration: none;
    transition: all 0.2s ease;
    width: 30%;
    left: 56.8%;
    bottom: 0%;
}

.DispInfo {
    font-size: 1em;
    font-weight: 0;
    margin: 5px;
}

.CurrentInformation {
    background: rgba(34, 35, 51, 0.80);
    color: #ffffff;
    font-size: 1.35vh;
    font-weight: 0;
    left: 41%;
    max-height: 25%;
    min-height: 50px;
    opacity: 0;
    overflow: hidden;
    padding: 1%;
    pointer-events: none;
    position: absolute;
    text-decoration: none;
    top: 78%;
    transition: opacity 0.6s ease;
    width: 15%;
    z-index: 10;
}

h2 {
    font-size: 2.5vh;
    margin: 1% 0;
    text-transform: capitalize;
}

.weightcontainer {
    display: inline-block;
    position: relative;
    width: 110%;
}

.weight-hanging {
    height: 1.75vh;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 3%;
}

.weightbar {
    background-color: #6f7174a2;
    border-radius: 5px;
    position: absolute;
    width: 36%;
    margin-top: 69%;
    height: 0.5vh;
    overflow: hidden;
    display: block;
}

.weightfill {
    /* background: #159ed4da; */
    background-image: linear-gradient(to right, rgba(36, 153, 189, 0.753),rgb(0, 217, 255));
    display: inline-block;
    height: 65%;
    line-height: 2.2vh;
    margin-right: 1%;
    max-width: 100%;
    position: absolute;
    text-align: right;
    transition: width 1s, background-color 1s;
}

.weight-current {
    margin-left: 1vh;
    margin-right: 1vh;
}

.craftSearch {
    background-color: #191e259d;
    border: none;
    border-radius: 1vh;
    color: #fff;
    font-size: 1.5vh;
    height: 2vh;
    padding: 1%;
    width: 90.5%;
}

.wrapmain {
    margin-top: 1rem;
    display: grid;
    float: left;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    /* height: 100%;
    width: 100%; */
		flex: auto;
    direction: ltr;
}

.item {
    /* background: linear-gradient(to bottom, rgba(1, 1, 1, 0.15) 82%, #191e25 82%) repeat-x; */
    /* border: 1px solid rgba(220, 240, 220, 0.05); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98%;
    margin: 1%;
    float: left;
    height: 12vh;
    width: 7vw;
    border-radius: 5%;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    position: relative;
    transition: all 0.2s ease;
    /* background: rgb(101, 226, 199); */
    /* background-image: linear-gradient(150deg, rgb(0, 0, 0), rgba(49, 127, 230, 0.493)); */
    background-image: radial-gradient(circle, rgba(85, 83, 83, 0.6) , rgba(15, 39, 75, 0.595) );;
    box-shadow: inset -1px 0px 1px rgba(255, 255, 255, 0), inset 0px 0px 6px rgba(255, 255, 255, 0.03);
}

.craftGrid {
    display: flex!important;
    flex-direction: row!important;
    flex-wrap: wrap!important;
    grid-column-gap: 0!important;
    grid-row-gap: 0!important;
    grid-template-columns: 0!important;
    justify-content: space-between;
}

.craftContainer {
    display: flex;
    width: 17.7vw;
    height: 14.5vh;
    margin-bottom: 0.5rem;
    position: relative;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.05);
}

.craftItem {
    margin: 3%;
    max-width: 39.6%;
    width: 100%;
    white-space: normal;
    text-overflow: none;
}

.itemname {
    color: #fff;
    font-family: Roboto;
    font-weight: 300;
    font-size: 1.25vh;
    pointer-events: none;
    position: absolute;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    top: 85%;
    left: 1.5%;
    text-align: left;
}

.craftItem > .itemname {
    bottom: 6%;
}

.itemimage {
    opacity: 1;
    transition: opacity 0.2s ease;
    width: 60%;
    max-height: 10.8vh;
    max-width: 10.8vh;
    z-index: 2;
}

.itemimage[data-itemid="tcgcard"] {
    width: 40%; /* old one 65% */
    padding: 12%;
}

.requirements {
    color: #fff;
    font-size: 1.55vh;
    overflow: hidden;
    padding-top: 10px;
    padding-right: 10px;
    /* margin-top: 8px;
    margin-right: 10px; */
}
.penis {
    text-align:center;
    margin:10px;
}
.requirements > img {
    vertical-align: middle;
    width: 12%;
    font-size:11px;
    margin-left: 0.3rem;
}

.searchIcon {
    height: 2.35vh;
    margin-right: 0.5rem;
}

.inventory-box {
	width: 40%;
    max-height: 60vh;
	display: flex;
	padding: 4.1vh;
	flex-direction: column;
    background: transparent;
}

.inventory-actions-wrapper {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 12%;*/
    min-height: 65vh; 
    flex-wrap: wrap;
}

.inventory-actions-wrapper .inventory-actions{
    display: flex;
}

.inventory-actions-wrapper .inventory-actions.last{
    transform: translateY(-20px);
}

.inventory-actions-wrapper .inventory-actions .hexagon{
    position: relative;
    width: 70px;
    height: 80px;
    padding: 0.5rem;
    z-index: 5;
    margin: 0 5px;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    background-image: radial-gradient(circle, rgba(85, 83, 83, 0.6) , rgba(15, 39, 75, 0.595) );;
    border: 1px 1px 1px 1px 1px 1px solid #002df8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: .5s;
    box-shadow: -30px 30px 20px rgb(0, 238, 255);
    /* border-width: 3px; */
    /* border-style: double;
    border-color: #00f7ff;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent; */
}

/* .inventory-actions {
    display: flex;
    width: 100%;
    height: 59%;
    padding: 1rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: rgba(255, 255, 255, 0);
    z-index: 5;
  } */

.inventory-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inventory-name {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 2vh;
  line-height: 20px;
  color: #FFFFFF;
}

.inventory-weight {
  position: absolute;
  padding-left: 31.5%;
  margin-top: 71.5%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5vh;
  line-height: 30px;
  color: #FFFFFF;
}

.use-btn {
    width: 100%;
    border: transparent;
    height: 3.65em;
    background: transparent;
    border-radius: 0;
    /* text-transform: none;
    color: rgba(220, 220, 220, 1); */
    position: relative;
    font-size: 0.9em;
    letter-spacing: 15px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0008);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
}

.use-btn.twin{
    letter-spacing: 1px;
}

@keyframes animate
{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color: #dadcdd;
        text-shadow: none;
    }
    18.1%,20.1%.30%,50%,60.2%,65%,80.1%,90%,92.1%,100%
    {
        color: #fff;
        text-shadow: 0 0 10px #03bce4;
        0 0 20px #03bce4;
        0 0 40px #03bce4;
        0 0 80px #03bce4;
        0 0 160px #03bce4;
        
    }
}

.craftingSearch {
    display: none;
    align-items: center;
    margin-top: 1rem;
}
